@model IEnumerable<SpaceWay.Models.Flight>

@{
    ViewBag.Title = "Index";
}
@if ((string)Session["isAdmin"] == "0" || Session["Username"] == null)
{
    <h4>You have no permissions to display this page.</h4>
}
else
{
    <div class="container mt-5">
        <div class="row mt-5">
            <div class="col">
                <h4>Flights</h4>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-2">
                @Html.ActionLink("Display Aircraft Capacity Status", "JoinFlightsAndAircrafts")
            </div>
            <div class="col-2">
                @Html.ActionLink("Group Flights By Destination", "GroupFlightsByDestination")
            </div>
            <div class="col-2">
                @Html.ActionLink("Create New", "Create")
            </div>
            <div class="col-2">
                @Html.ActionLink("Search for a Flight", "SearchFlight")
            </div>
            @using (Html.BeginForm("Search", "Flights", FormMethod.Post))
            {
                <div class="row">
                    <div class="col">
                        <label>ID:</label>
                    </div>
                    <div class="col">
                        <input type="text" name="flID" />
                    </div>
                    <div class="col">
                        <button type="submit">Filter</button>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="col">
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FlightID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Aircraft.AircraftID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Aircraft.Level)
                        </th>
                        <th>
                            @Html.DisplayName("Available Seats")
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Origin)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Destination)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Duration)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Distance)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Departure)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Arrival)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FlightID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Aircraft.AircraftID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Aircraft.Level)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumOfPassengers)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Origin.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Destination.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Duration)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Distance)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Departure)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Arrival)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.FlightID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.FlightID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.FlightID })
                        </td>
                    </tr>
                    }

                </table>
            </div>
        </div>
    </div>
}
