@model IEnumerable<SpaceWay.Models.Flight>

@{
    ViewBag.Title = "SearchFlightResults";
}

<h2>SearchFlightResults</h2>

<h3><b>Choose Outbound Flight:</b></h3>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Aircraft.AircraftID)
        </th>
        <th>
            @Html.DisplayName("Available Seats")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Distance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Origin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Destination)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Departure)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Arrival)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>

        <th></th>
    </tr>
    @using (Html.BeginForm())
    {
        <div>
            <fieldset id="selectedOutbound">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Aircraft.AircraftID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumOfPassengers)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Duration)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Distance)
                        </td>
                        <th>
                            @Html.DisplayFor(modelItem => item.Origin.Name)
                        </th>
                        <th>
                            @Html.DisplayFor(modelItem => item.Destination.Name)
                        </th>
                        <td>
                            @Html.DisplayFor(modelItem => item.Departure)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Arrival)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.RadioButton("OutRadio", item.FlightID)
                            @*<input type="radio" id="OutRadio" value="@item.FlightID" name="OutRadio" />*@
                        </td>

                    </tr>
                }
            </fieldset>
        </div>
        <br />
        <br />
        <tr>
            <td>
                <h3><b>Choose Inbound Flight:</b></h3>
            </td>
        </tr>

        <div>
            <fieldset id="selectedInbound">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Aircraft.AircraftID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumOfPassengers)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Duration)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Distance)
                        </td>
                        <th>
                            @Html.DisplayFor(modelItem => item.Origin.Name)
                        </th>
                        <th>
                            @Html.DisplayFor(modelItem => item.Destination.Name)
                        </th>
                        <td>
                            @Html.DisplayFor(modelItem => item.Departure)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Arrival)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.RadioButton("InRadio", item.FlightID)
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Confirm Selection" class="btn btn-default" />
                                </div>
                            </div>
                        </td>
                    </tr>

                }
            </fieldset>
        </div>



   
    }

    </table>
    <script>
        submitForms = function () {
            document.getElementById("inbound").submit();
            document.getElementById("outbound").submit();
        }
    </script>
