@model SpaceWay.Models.Flight
@{
    ViewBag.Title = "SearchFlight";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @*<div class="form-group">
                @Html.LabelFor(model => model.AircraftID, "Aircraft Level", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("AircraftID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.AircraftID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.OriginID, "Origin", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("OriginID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.OriginID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DestinationID, "Destination", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("DestinationID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.DestinationID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Departure, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Departure, "{0:yyyy-MM-dd}", new { type = "date" })
                    @Html.ValidationMessageFor(model => model.Departure, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Arrival, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Arrival, "{0:yyyy-MM-dd}", new { type = "date" })
                    @Html.ValidationMessageFor(model => model.Arrival, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="container">
            <div class="row">
                <div class="col">
                    <h4>Book A Flight</h4>
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                    @Html.DropDownList("AircraftID", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                    @Html.DropDownList("OriginID", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                    @Html.DropDownList("DestinationID", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                    <input id="departure" name="departure" type="date" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                    <input id="arrival" name="arrival" type="date" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-10">
                    <div class="form-group">
                    <input type="submit" value="Search Flight" class="btn btn-default" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
    @Html.ActionLink("Back to List", "Index")
                </div>
            </div>
        </div>
        <div class="form-group">
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

