@model SpaceWay.Models.Aircraft

@{
    ViewBag.Title = "Details";
}
@if ((string)Session["isAdmin"] == "0" || Session["Username"] == null)
{
    <h4>You have no permissions to display this page.</h4>
}
else
{

    <div class="container">
        <div class="row">
            <div class="col">
                <h4>Aircraft Details</h4>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Level)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Level)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Seats)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Seats)
                    </dd>

                </dl>
            </div>
        </div>
        <div class="row">
            <div class="col">
                @Html.ActionLink("Edit", "Edit", new { id = Model.AircraftID }) |
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>
}