@model SpaceWay.Models.Station

@{
    ViewBag.Title = "Delete";
}
@if ((string)Session["isAdmin"] == "0" || Session["Username"] == null)
{
    <h4>You have no permissions to display this page.</h4>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col">
                <div>
                    <h4>Delete Station</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Planet)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Planet)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Address)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Address)
                        </dd>

                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-actions text-center no-color">
                            <h4>Are you sure you want to delete this?</h4>
                            <input type="submit" value="Delete" class="btn btn-default" /> |
                            @Html.ActionLink("Back to List", "Index")
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}
