@{
    bool checkAdmin()
    {
        return ((string)Session["isAdmin"] == "1");
    }

    var welcomeText = "";
    if (Session["Username"] != null)
    {
        welcomeText = "Welcome " + Session["Username"];
    }

}

<li class="nav-item">
    <a class="nav-link js-scroll-trigger" href='@Url.Action("Index", "Home")'><b>Home</b></a>
</li>

<li class="nav-item">
    <a class="nav-link js-scroll-trigger" href='#'><font color="white">@welcomeText</font></a>
</li>

<li class="nav-item">
    @if (checkAdmin() == true)
    {<a class="nav-link js-scroll-trigger" href='@Url.Action("Search", "Passengers")'>Passengers</a>}
</li>

@if (checkAdmin() == true)
{
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href='@Url.Action("Index", "Aircrafts")'>Aircrafts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href='@Url.Action("Index", "Stations")'>Stations</a>
    </li>
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href='@Url.Action("Statistics", "Home")'>Statistics</a>
    </li>
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href='@Url.Action("Index", "Flights")'>Flights</a>
    </li>
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href='@Url.Action("Index", "Reservations")'>Reservations</a>
    </li>

}

<li class="nav-item">
    <a class="nav-link js-scroll-trigger" href='@Url.Action("PassengerProfile", "Passengers")'>Profile</a>
</li>
@if (checkAdmin() == false)
{
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href='@Url.Action("MyReservations", "Reservations")'>My Reservations</a>
    </li>
}
<li class="nav-item">
    <a class="nav-link js-scroll-trigger" href='@Url.Action("Nasa", "Home")'>Picture Of The Day</a>
</li>
<li class="nav-item">
    <a class="nav-link js-scroll-trigger"></a>
</li>
<li class="nav-item">
    <a class="nav-link js-scroll-trigger"></a>
</li>
<li class="nav-item">
    <a class="nav-link js-scroll-trigger"></a>
</li>
<li class="nav-item">
    <a class="nav-link js-scroll-trigger"></a>
</li>
<li class="nav-item">
    <a class="nav-link js-scroll-trigger"></a>
</li>
<li class="nav-item">
    <a class="nav-link js-scroll-trigger" href='@Url.Action("Logout", "Passengers")'>Logout</a>
</li>


