@model IEnumerable<SpaceWay.Models.Reservation>

@{
    ViewBag.Title = "MyReservations";
}

<h2>My Reservations</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Passenger.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OutboundID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InboundID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumOfTickets)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Passenger.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OutboundID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InboundID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumOfTickets)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
            </td>
        </tr>
    }

</table>
