@model IEnumerable<SpaceWay.Models.Reservation>

@{
    ViewBag.Title = "MyReservations";
}

<h2>My Reservations</h2>
@if (!ViewBag.isEmpty)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayName("Outbound Departure")
            </th>
            <th>
                @Html.DisplayName("Outbound Arrival")
            </th>
            <th>
                @Html.DisplayName("Inbound Departure")
            </th>
            <th>
                @Html.DisplayName("Inbound Arrival")
            </th>
            <th>
                @Html.DisplayName("Tickets")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Outbound.Origin.Name)
                    @Html.DisplayFor(modelItem => item.Outbound.Departure)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Outbound.Destination.Name)
                    @Html.DisplayFor(modelItem => item.Outbound.Arrival)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Inbound.Origin.Name)
                    @Html.DisplayFor(modelItem => item.Inbound.Departure)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Inbound.Destination.Name)
                    @Html.DisplayFor(modelItem => item.Inbound.Arrival)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumOfTickets)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td></td>
            </tr>
        }

    </table>
}
else
{
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <h2 class="text-white-50 mx-auto mt-2 mb-5">You have no reservations yet.</h2><br />
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4">
                <a href='@Url.Action("SearchFlight", "Flights")' class="btn btn-dark js-scroll-trigger">Order now</a>
            </div>
        </div>
    </div>
}

